name: Main

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:

  ci:
    name: ci
    runs-on: ubuntu-latest
    env:
      GO_VERSION: "stable"
      GOLANGCI_LINT_VERSION: v1.62.0
      CGO_ENABLED: 0

    steps:

      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check and get dependencies
        run: go mod tidy -diff

      - name: golangci-lint action ${{ env.GOLANGCI_LINT_VERSION }}
        uses: golangci/golangci-lint-action@v6
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

      - name: Test
        run: go test -v -cover ./...

      - name: Build
        run: go build -ldflags "-s -w" -trimpath -o pigeon .
