# https://github.com/actions/go-dependency-submission
name: dependency-submission
on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.20"
      - uses: actions/go-dependency-submission@v1
        with:
          go-mod-path: go.mod
